<html lang="en">
  <head>
    <link href="styling.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
    <title>Pokemon Manager</title>
  </head>
  <body>
    <h1>Home</h1>
  </body>
</html>
