*.gem
*.rbc
/.config
/coverage/
/spec/reports/
/tmp/
# Used by dotenv library to load environment variables.
.env
## Environment normalization:
/.bundle/
/vendor/bundle
/lib/bundler/man/
Gemfile.lock
node_modules
package-lock.json
lib/public/*.js
